body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;

  // sign up page styling
  .sign-up {
    main {
      div {
        h2 {
          &.text-red-500 {
            color: #FF1A1A !important;
          }
        }
      }
    }
  }
}