body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

:root {
  --primary-color: rgba(239, 68, 68, 1);
  --secondary-color: rgb(219, 133, 21);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

// navbar
nav {
  z-index: 222;
  transition: .3s ease-in;
}

nav .navbar-brand {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

nav .navbar-brand .nav-brand {
  font-size: 1rem;
  font-weight: 600;
}

nav .navbar-links .nav-items .nav-link {
  font-weight: 500;
  font-size: .95rem;
}

// button 
button {
  border-radius: 50px !important;
  font-size: .95rem;
}

// homepage
// hero
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.788)), url('../images/contact_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
}

.hero .hero_text {
  max-width: 900px;
}

.hero .hero_text span {
  position: relative;
}

.hero .hero_text span::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 5px;
  width: 100%;
  background-color: var(--primary-color);
  margin-bottom: 10px;
}

.hero_animated_ball {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 45px;
  width: 25px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_animated_ball .ball {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: #FFFFFF;
  animation: bounce 1.5s linear infinite;
}

// services 
.services {
  padding: 5rem 0px;
}

.services .container .services_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

// salse one
.sales_one {
  padding: 5rem 0px;
}

.sales_one .sales_row_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.sales_one .sales_wrap h3 span {
  position: relative;
}

.sales_one .sales_wrap h3 span::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 3px;
  margin-bottom: 5px;
  width: 100%;
  background-color: var(--primary-color);
}

// steps
.steps {
  padding: 7rem 0px;
}

.steps_card_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.steps_card {
  padding: 50px;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.steps_card .details_wrap {
  position: absolute;
  padding: 20px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0;
  transform: scale(0.95);
  transition: .3s ease-in;
}

.steps_card:hover .details_wrap {
  opacity: 1;
  transform: scale(1);
}

// portfolio
.portfolio_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pf_detail {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in;
  transform: scale(0.91);
  opacity: 0;
}

.pf_card:hover .pf_detail {
  transform: scale(1);
  opacity: 1;
}

.pf_image_step {
  padding: 5rem 0px;
}

.pf_steps_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.step_badge {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color) !important;
}

// sales two
.sales_two_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sales_two_img_wrap {
  height: 100%;
  background: url('../../assets/images/6.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sales_two_content {
  padding: 5rem;
  background: linear-gradient(60deg, var(--primary-color) 60%, var(--secondary-color));
}

// team
.team {
  padding: 5rem 0px;
}

.teams_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.team_profile_img {
  // height: 300px;
  overflow: hidden;
}

.social_links_wrap {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0;
  transition: .5s ease-in;
  margin-bottom: 10px;
}

.team_profile_wrap:hover .social_links_wrap {
  opacity: 1;
}

.social_icon_wrap {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, var(--primary-color) 30%, var(--secondary-color));
  border-radius: 50%;
}

// animations
@keyframes bounce {

  0%,
  100% {
    transform: translateY(10px);
    opacity: 0;
  }

  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

// responsive design
@media screen and (max-width: 1024px) {
  .steps_card_wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  nav .navbar-links {
    position: fixed;
    height: 100%;
    width: 50%;
    background-color: white;
    bottom: 0%;
    transition: .3s ease-in;
  }

  .navbar-links.closed {
    left: -100%;
  }

  .navbar-links.open {
    left: 0%;
  }

  .navbar-button {
    margin-left: auto;
  }

  .nav-link {
    color: #222222 !important;
    text-align: left !important;
    width: 100% !important;
    padding: 0px 10px 10px 10px;
    border-bottom: 1px solid #eeeeee;
  }

  .nav-link:first-child {
    margin-top: 50px;
  }

  .nav-items {
    flex-direction: column;
  }

  .navbar-toggler {
    background-color: var(--primary-color);
    display: block;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid --primary-color;
    border-radius: 8px;
    margin-left: 20px;
  }

  // hero
  .hero .hero_text {
    max-width: 600px;
  }

  .hero .hero_text h1 {
    font-size: 4rem !important;
  }

  // services
  .services .container .services_wrap {
    grid-template-columns: 1fr 1fr;
  }

  // sales one
  .sales_one .sales_row_wrap .img_wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .sales_one .sales_row_wrap .sales_wrap {
    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: .8rem;
    }
  }

  // steps
  .steps_card_wrap {
    grid-template-columns: 1fr 1fr;
  }

  // portfolio
  .portfolio_wrap {
    grid-template-columns: 1fr 1fr;
  }

  .pf_steps_wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // sales two
  .sales_two_wrap {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .navbar-links {
    width: 70% !important;
  }

  // hero
  .hero .hero_text {
    max-width: 100%;
  }

  .hero .hero_text h1 {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
  }

  .hero .hero_text span::after {
    height: 5px;
  }

  // services
  .services .container .services_wrap {
    grid-template-columns: 1fr;
  }

  .service_card {
    flex-direction: column !important;
  }

  // sales one 
  .sales_one .sales_row_wrap {
    grid-template-columns: 1fr;
  }

  // steps
  .steps_card_wrap {
    grid-template-columns: 1fr;
  }

  // portfolio
  .pf_steps_wrap {
    grid-template-columns: 1fr;
  }

  // sales two
  .sales_two_content {
    padding: 5rem 1.5rem;
  }
}